<h1>Education</h1>
<div class="timeline-body bg-themed">
  {% for item in site.data.education %}
    <div class="timeline-item">
      <div class="content">
        <div class="row">
          <div class="col-2">
            <img src="{{item.image}}" alt="{{item.institution}}" width="100%">
          </div>
          <div class="col-10">
            <h2>{{ item.institution }}</h2>
            <h3>{{ item.location }}</h3>
            <h5 class="date">{{ item.from }} — {{ item.to }}</h5>
            {% for qualification in item.qualifications %}
              <h5>{{ qualification.title}}</h5>
              <h6>{{ qualification.period }}</h6>
              <p>
                {{qualification.notes}}
              </p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<h1>Work Experience</h1>
<div class="timeline-body bg-themed">
  {% for item in site.data.experience %}
    <div class="timeline-item">
      <div class="content">
        <div class="row">
          <div class="col-2">
              <img src="{{item.image}}" alt="{{item.company}}" width="100%">
          </div>
          <div class="col-10">
            <h2>{{ item.title }}</h2>
            <h3>{{ item.company }}: {{ item.location }}</h3>
            <h5 class="date">{{ item.from }} — {{ item.to }}</h5>      
            {% for role in item.roles %}
              <h5>{{ role.title }}</h5>
              <h6>{{ role.period }}</h6>
              <p>
                {{ role.description }}
              </p>
            {% endfor %}
          </div>
        </div>
        
      </div>
    </div>
  {% endfor %}
</div>



  

